/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom CSS. Ensure this comes before the tailwind utilities*/
/* purgecss end ignore */
@import 'tailwindcss/utilities';


@import "./fonts/fonts.scss";
@import './components/components.scss';
@import "./colors/colors.scss";
@import './styles.css';

.container {
    max-width: 1140px;
}
hr {
    border-color: #EDEBEC;
}


@responsive {
    .offset-0 {
        margin-left: 0;
    }

    .offset-1 {
        margin-left: 8.33333333333%;
    }

    .offset-2 {
        margin-left: 16.6666666667%;
    }

    .offset-3 {
        margin-left: 25%;
    }

    .offset-4 {
        margin-left: 33.333333333%;
    }

    /*.offset-5 {*/
    .offset-5 {
        margin-left: 41.666667777%;
    }

    .offset-6 {
        margin-left: 50%;
    }

    .offset-7 {
        margin-left: 58.3333333333%;
    }

    .offset-8 {
        margin-left: 67.6666666667%;
    }

    .offset-9 {
        margin-left: 75%;
    }

    .offset-10 {
        margin-left: 83.3333333333%;
    }

    .offset-11 {
        margin-left: 91.6666666667%;
    }
}
