.menu-btn {
  padding: 8px;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  border: 1px solid #383838;
  cursor: pointer;
}

.menu-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 8px 12px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  -webkit-transition: background-color 50ms ease-in;
  transition: background-color 50ms ease-in;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #2d2d2d;
}

.menu-item--active {
  background-color: #2d2d2d;
}

