//Colors
$primary: #1a94ff;
$link: #1592ff;
$danger: #C0284D;
$success: #21B77A;
$scheme-main: #1c1c1c;
$body-background-color: $scheme-main;


$link-hover: #1592ff;

$title-color: #FFF;
$text: #989898;


//Typography
$body-size: 14px;
$body-line-height: 24px;

//$title-family: Inter, sans-serif;
$is-family-primary: Inter, sans-serif;
$family-serif: Inter, sans-serif;
$family-sans-serif: Inter, sans-serif;
//Cards
$card-radius: 4px;
$card-background-color: #252525;
$card-content-padding: 24px;

//$card-color:

//Input
$input-background-color: #333333;
$input-color: #fff;
$input-border-color: none;
$input-hover-color: none;
$input-hover-border-color: none;
$input-focus-color: none;
$input-focus-border-color: #333333;
$input-placeholder-color: #808080;
$input-focus-border-color: $primary;


//Control
$control-padding-vertical: 18px;
$control-padding-horizontal: 12px;


$label-color: #FFF;

$help-size: 14px;

//Typography sizes
//$is-size-1: 36px;
//$is-size-1: 24px;
//$is-size-2: 20px;
//$is-size-3: 18px;
//$is-size-4: 16px;
//
//$is-size-7: 12px;
//height: 48px;
//margin-right: 8px;
//margin-bottom: 8px;
//border: 1px none #000;
//border-radius: 4px;
//background-color: #333;
//color: grey;
//font-size: 14px;

//Buttons
//$button-padding-vertical: 24px;
//$button-padding-vertical: calc(0.5em - #{$button-border-width});
